{% extends 'base.html.twig' %}
{% block body %}
Abonnement confirmé !


    <button type="button" class="btn btn-primary">Terminé</button>

{% endblock %}
{% block javascripts %}
    {{  parent() }}
{% endblock %}